{% extends 'base.html' %}

{% block title %}Manage Invitations{% endblock %}

{% block content %}
<h2 style="text-align: center; color: black;">Manage Invitations for {{ event.title }}</h2>
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
<form class="invitation-list">
    <ul>
        {% for invitation in invitations %}
        <li style="color: white;">
            <strong>{{ invitation.user.username }}</strong> - {{ invitation.user.email }} - <span class="status {{ invitation.status|lower }}">{{ invitation.status }}</span>
        </li>
        {% empty %}
        <li>No invitations found.</li>
        {% endfor %}
    </ul>
    <br>
    <a href="{% url 'create_invitation' event.id %}" class="btn-submit">Add New Invitation</a>
</form>
<br>
<br>
<a href="{% url 'event_details' event.id %}" class="back-btn" style="color:white">Back to Event Details</a>
{% endblock %}
