{% extends 'base.html' %}

{% block title %}Password Reset Sent{% endblock %}

{% block content %}
<div class="container" style="background-color: transparent;">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="text-center">Password Reset Sent</h2>
                </div>
                <div class="card-body">
                    <p class="text-center">We've emailed you instructions for setting your password. If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                    <p class="text-center">Remembered your password? <a href="{% url 'account_login' %}" class="font-weight-bold">Log in here</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
