/* Reset CSS */
* {
    box-sizing: border-box;
}

/* Global styles */

body {
    margin: 0;
    padding: 0;
}

/* Root colors CoreUI */
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

:root .bg-primary {
    background-color: #721c24 !important;
}

:root .bg-secondary {
    background-color: #ffc107 !important;
}

:root .btn-primary {
    background-color: #155724 !important;
}

:root .btn-secondary {
    background-color: #e83e8c !important;
}

/* Navbar styling */
header {
    background-color: #a5babe;
}

header {
    padding: .5rem;
    margin-bottom: 2rem;
}

/* Footer styling */
footer {
    /* background-color: #202020; */
    position: relative;
    bottom: 0;
    width: 100%;
    color: #fff;
}

/* Messages Styling */
.alert {
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}


.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

/* Dashboard Styling */
.container-fluid>div>div.col-md-8 {
    margin: 0;
    padding: 0;

}

#calendar {
    flex: 1;
    max-width: 100%;
    max-height: 50%;
    margin: 0;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.fc-event.confirmed-event {
    background-color: green;
    border-color: green;
    color: #fff;
}

.fc-event.pending-event {
    background-color: orange;
    border-color: orange;
    color: #fff;
}

.fc-event.cancelled-event {
    background-color: red;
    border-color: red;
    color: #fff;
    text-decoration: line-through;
}

.event-link {
    color: #000;
    text-decoration: none;
}

.event-link:hover {
    text-decoration: underline;
}

.upcoming-events,
.your-events,
form {
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    background-color: #fff;
    border-radius: 5px;
}

/* TODO */
.badge-confirmed {
    background-color: green;
}

.badge-pending {
    background-color: orange !important;
}

.badge.cancelled {
    background-color: red;
}

.add-btn,
.delete-btn,
.edit-btn,
.invite-btn {
    margin: 0;
}

/* Forms Styling */
.form-group label {
    display: block;
    margin-bottom: .25rem;
    color: #333;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Event Details Styling */

/* Status span */
.card-body>span {
    padding: .5rem;
}

.bg-accepted,
.bg-confirmed {
    background-color: green;
}

.bg-maybe,
.bg-pending {
    background-color: orange;
}

.bg-declined,
.bg-cancelled {
    background-color: red;
}

/* Response Buttons */
.upcoming-events,
.your-events,
form {
    box-shadow: none;
}

/* Maybe Button */
.card-body>div>div>div>button {
    margin: 1rem;
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    overflow: auto;
    padding-top: 60px;
}

.modal-content {
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
}

/* Profile Styling */
.profile-picture-options {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 15px;
    justify-items: center;
}

.profile-picture-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.profile-picture-option input {
    display: none;
}

.profile-picture-option img:hover {
    scale: 1.2;
    filter: brightness(.8);
}


.profile-picture-container img {
    margin: 0;
}

.profile-picture-container button {
    margin: 0;
}

#selectedProfilePicture {
    border: none;
}

/* Friends Styling */
#id_search_query {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Notification Styling */
#profileLink,
.profile-dropdown {
    margin-right: 2rem;
}

/* Ensure dropdown menus are within the viewport */

/* Adjust the width and max-width of the dropdown menu */
.dropdown-menu {
    max-width: 400px;
    /* Adjust this value as needed */
    width: auto;
    word-wrap: break-word;
    overflow: hidden;
}

/* Ensure that the text inside the dropdown items is wrapped and not truncated */
.dropdown-item {
    white-space: normal;
    word-wrap: break-word;
}

/* Add some padding to the dropdown items to make them look better */
.dropdown-item {
    padding: 10px 15px;
}

/* Style the notification time */
.dropdown-item small.text-muted {
    display: block;
    margin-top: 5px;
}


.notifications-list {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    width: 100%;
    max-width: 100%;
    margin: 2rem auto;
    color: #333;
}

.notifications-list ul {
    list-style-type: none;
    padding: 0;
}

.notifications-list ul li {
    margin: .15rem;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color .3s;
}

.notifications-list ul li .notification-link {
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: space-between;
}

.notifications-list ul li:hover {
    background-color: #f1f1f1;
}