* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #676767;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #000000;
    color: white;
    padding: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-right: 1rem;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 3px;
}

.nav-links li a.active {
    background-color: #4CAF50;
}

.user-info {
    color: white;
}

main {
    flex: 1;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #000000;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

#calendar {
    max-width: 50%;
    max-height: 50%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fc-event.confirmed-event {
    background-color: green;
    border-color: green;
    color: white;
}

.fc-event.pending-event {
    background-color: orange;
    border-color: orange;
    color: white;
}

.fc-event.cancelled-event {
    background-color: red;
    border-color: red;
    color: white;
    text-decoration: line-through;
}

.upcoming-events,
.your-events {
    margin-top: 2rem;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 600px;
}

.upcoming-events h3,
.your-events h3 {
    margin-top: 0;
    color: #333;
    text-align: center;
}

.upcoming-events ul,
.your-events ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.upcoming-events li,
.your-events li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
}

.upcoming-events li:last-child,
.your-events li:last-child {
    border-bottom: none;
}

.upcoming-events .status {
    font-weight: bold;
}

.upcoming-events .status.confirmed {
    color: green;
}

.upcoming-events .status.pending {
    color: orange;
}

.upcoming-events .status.cancelled {
    color: red;
}

.edit-btn,
.delete-btn,
.add-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 3px;
}

.edit-btn:hover,
.delete-btn:hover,
.add-btn:hover {
    background-color: #555;
}