{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="dashboard-container">
    <div class="upcoming-events">
        <h3>Upcoming Events</h3>
        <ul>
            {% for item in upcoming_events_with_read_status %}
                <li>
                    <strong><a href="{% url 'event_details' item.event.id %}" class="event-link">{{ item.event.title|upper }}</a></strong> - {{ item.event.proposed_date|date:"F j, Y" }} - <span class="status {{ item.event.status|lower }}">{{ item.event.status }}</span>
                    {% if item.unread %}
                        <span class="unread-status">(Unread)</span>
                    {% endif %}
                </li>
            {% empty %}
                <li>No upcoming events.</li>
                <br>
            {% endfor %}
        </ul>
    </div>

    <div id="calendar"></div>

    <div class="your-events">
        <h3>Your Events</h3>
        <ul>
            {% for event in user_events %}
                <li>
                    <a href="{% url 'event_details' event.id %}" class="event-link">
                        <strong>{{ event.title|upper }}</strong>
                    </a>
                    - {{ event.proposed_date|date:"F j, Y" }}
                    <span class="status {{ event.status|lower }}">{{ event.status }}</span>
                    <a href="{% url 'edit_event' event.id %}" class="edit-btn"><i class="fas fa-edit"></i></a>
                    <button class="delete-btn" data-event-id="{{ event.id }}"><i class="fas fa-trash-alt"></i></button>
                </li>
                <br>
            {% empty %}
            <li>You have not created any events.</li>
            <br>
            {% endfor %}
        </ul>
        <a href="{% url 'create_event' %}" class="add-btn">Create Event</a>
    </div>
</div>

<!-- Modal for deleting an event -->
<div id="deleteModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Confirm Delete</h2>
        <p>Are you sure you want to delete this event?</p>
        <form method="post" id="deleteForm">
            {% csrf_token %}
            <button type="submit" class="btn-submit">Delete</button>
            <button type="button" class="btn-cancel" onclick="closeModal()">Cancel</button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: false,
            timeZone: 'local',
            events: [
                {% for item in upcoming_events_with_read_status %}
                    {
                        title: '{{ item.event.title }}',
                        start: '{{ item.event.proposed_date|date:"c" }}',  // ISO 8601 format
                        className: '{{ item.event.status|lower }}-event',
                        url: '{% url "event_details" item.event.id %}'
                    },
                {% endfor %}
            ],
            timeFormat: 'h:mma' 
        });

        var deleteModal = document.getElementById("deleteModal");
        var deleteForm = document.getElementById("deleteForm");
        var closeModalBtn = document.getElementsByClassName("close")[0];

        $(".delete-btn").click(function() {
            var eventId = $(this).data("event-id");
            deleteForm.action = "/events/" + eventId + "/delete/";
            deleteModal.style.display = "block";
        });

        closeModalBtn.onclick = function() {
            deleteModal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == deleteModal) {
                deleteModal.style.display = "none";
            }
        }

        function closeModal() {
            deleteModal.style.display = "none";
        }

        document.querySelector(".btn-cancel").addEventListener("click", closeModal);
    });
</script>

{% endblock %}
