{% extends 'base.html' %}
{% load i18n %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="container mt-5" style="background-color: transparent;!important;">
    <div class="row justify-content-center">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h2 class="card-title text-center">{% trans "Password Reset" %}</h2>
            </div>
            <div class="card-body">
                <p class="text-center mt-4 mb-4">{% trans "This feature is under construction. Please check back later." %}</p>
                <form method="post" class="mt-4" style="pointer-events: none; opacity: 0.5;">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-3" disabled>{% trans "Reset Password" %}</button>
                </form>
            </div>
            <p class="text-center mt-3">
                <a href="{% url 'home' %}" class="font-weight">Back to Home</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
