{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Set New Password{% endblock %}

{% block content %}
<div class="container" style="background-color: transparent;">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="text-center">{% trans "Set New Password" %}</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="password">{% trans "New Password" %}</label>
                            <div class="input-group">
                                <input type="password" name="password" class="form-control" required>
                                <div class="input-group-append" style="cursor: pointer;">
                                    <span class="input-group-text">
                                        <i class="fa fa-eye" id="passwordToggle" onclick="togglePasswordVisibility()"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">{% trans "Confirm New Password" %}</label>
                            <div class="input-group">
                                <input type="password" name="confirm_password" class="form-control" required>
                                <div class="input-group-append" style="cursor: pointer;">
                                    <span class="input-group-text">
                                        <i class="fa fa-eye" id="passwordToggle" onclick="togglePasswordVisibility()"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">{% trans "Set Password" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% comment %} TODO - Implement this {% endcomment %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
